html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
#header {
    background-image: url(/images/header-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    min-height: 280px;
    text-align: center;
    padding-top: 60px;
}

#header h1 {
    font-size: 45px;
}
#header h3 {
    font-size: 25px;
}
.navbar {
    border: none;
    border-top: 1px solid transparent;
}
.navbar-inverse {
    border-color: #545454;
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-nav > li > a {
        padding: 15px 25px;
    }
}

.post-list {
}
.post-list .post-item {

}
.post-list .post-item .post-image{
    border: 1px solid #cccccc;
    padding: 6px;
}
.post-list .post-item .post-image img {
    max-width: 400px;
    width: 100%;
}
.post-list .post-item .post-title {

}
.post-list .post-item .post-description {

}
.post-list .post-item .post-date {
    font-size: 14px;
    text-align: right;
    color: #8e8e8e;
    padding: 3px 10px 0;
}
.post-view {

}
.post-view h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.post-info {
    margin-top: 30px;
}
.post-date, .post-categories, .post-tags {
    font-size: 16px;
    margin-bottom: 6px;
}
.post-categories i, .post-tags i{
    margin-right: 6px;
}
.posts h1 {
    padding: 0 18px 14px;
    margin-top: 0;
}

.home-about {
    padding: 10px 120px 40px;
}
.home-about img {
    padding: 6px;
    width: 350px;
    margin-right: 26px;
}
.home-about h2 {
    margin-top: 0;
}
.home-about p {
    font-size: 21px;
    line-height: 34px;
    color: #6f6f6f;
}
.home-about a.btn {
    font-size: 19px;
}

@media(max-width:767px) {

    .home-about {
        padding: 10px 20px 40px;
    }
    .home-about img {
        padding: 0;
        width: 100%;
        padding-bottom: 14px;
    }
    .home-about h2 {
        padding-top: 20px;
    }
    .home-about p {
        font-size: 16px;
        line-height: 25px;
        color: #6f6f6f;
    }
    .home-about a.btn {
        font-size: 16px;
    }
}

.comments {

}
.comment {
    margin-bottom: 22px;
}
.comment-avatar {
    padding: 0;
}
.comment-avatar img {
    width: 100%;
    border-radius: 6px;
}
.comment-info {

}
.comment-name {

}
.comment-name h4 {
    margin-top: 0;
}
.comment-content {
    padding: 0 0 16px;
    color: #545454;
}
.comment-date {
    text-align: right;
    color: #ccc;
}